<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    
    <services>
      <service name="Dotnet.Samples.Indigo.CatalogServiceImplementation">
        <endpoint address="CatalogServiceImplementation" binding="basicHttpBinding" contract="Dotnet.Samples.Indigo.ICatalogServiceContract"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/Indigo/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
  </system.serviceModel>

</configuration>
