<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="Dotnet.Samples.Indigo.Library.CatalogServiceImplementation">
        <endpoint address="CatalogServiceImplementation"
                  binding="basicHttpBinding"
                  contract="Dotnet.Samples.Indigo.Library.ICatalogServiceContract" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <!-- [INFO] notice the port number here is set to 8000 -->
            <add baseAddress="http://localhost:8880/Indigo" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>