<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="CatalogService">
        <!-- "ABC" is the WCF mantra. -->
        <!-- "ABC" is the key to understanding how a WCF service endpoint is composed. -->
        <!-- "A" stands for Address: Where is the service? -->
        <!-- "B" stands for Binding: How do I talk to the service? -->
        <!-- "C" stands for Contract: What can the service do for me? -->
        <!-- http://msdn.microsoft.com/en-us/library/aa480190.aspx -->
        <endpoint name="CatalogServiceEndpoint"
                  address="Dotnet.Samples.Indigo.Services.CatalogServiceImplementation"
                  binding="basicHttpBinding"
                  contract="Dotnet.Samples.Indigo.Services.ICatalogServiceContract" />
        <host>
          <baseAddresses>
            <!-- [INFO] notice the port number here is set to 8000 -->
            <add baseAddress="http://localhost:8000/CatalogService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>